{% extends "base.html" %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
  <ol class="breadcrumb">
     <a href="{% url 'block_list' %}">首页</a>/
       <li class="active">{{ b.name }}</li>
  </ol>
  <a href="{% url 'article_create' b.id  %}" class="btn btn-primary">发表文章</a>
  </br></br>
  <table class="table table-bordered">
      <tr>
        <th>状态</th>
        <th>标题</th>
        <th>作者</th>
        <th>最后更新时间</th>
      </tr>
      {% for article in articles %}
      <tr>
       <td>{{ article.get_status_display }}</td>
       <td>{{ article.title }}</td>
       <td>{{ article.owner }}</td>
       <td>{{ article.last_update_timestamp|date:"Y-m-d P"}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
