{% extends "base.html" %}
{% block content %}
  <div class="col-md-10 col-md-offset-1">
    <ol class="breadcrumb">
      <a href="{% url 'block_list' %}">首页</a>/
        <a href="{% url 'article_list' article.block.id %}">{{ article.block.name }}</a>/
        <li class="active">{{ article.title }}</li>
    </ol>
  </div>
  <table　class="atble table-hover">
    <tr>
      <div class="col-md-2 col-md-offset-2">
        <td>作者:{{ article.owner }}</td>
      </div>
      <div class="col-md-6 col-md-offset-4">
	<td>发表于：{{ article.last_update_timestamp|date:"Y-m-d P" }}<td> 
	<td>标题：{{ article.title|linebreaksbr }}</td>
        <td>{{ article.content |linebreaksbr }}</td>
      </div>
    </tr>
  </table>
{% endblock %}
