<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Python部落论坛</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class= "container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="jumbotron","boreded">
            <h1><center>Python部落论坛</center></h1>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="blockitem">
              {% for b in blocks %}
            <div class="panel panel-default">
              <div class="panel-heading"style="background:light-grey" >
	            <h3 class="panel-title"> 
                  <a href="{% url 'article_list' b.id %}">{{b.name}}</a>
		           <span  class="pull-right">管理员</span>
	            </h3>
	          </div>
	          <div class="panel-body">
	            {{ b.description}}
	           <span class="pull-right">{{b.admin.username}}</span>
	          </div>
            </div>
            {% endfor %}
	      </div>
        </div>
        <div class="col-md-2">
         <center>
           {% if user.is_authenticated %}
               <p>{{ user.username }}.欢迎来到论坛.</p>
               <a href="{% url 'logout_then_login' %}">登出</a>
	       <a href="{% url 'password_change' %}">修改密码</a>
           {% else %}
               <p>匿名用户.请<a href="{% url 'login' %}">登陆</a>.</p>
	       <a href="{% url 'password_reset' %}">重置密码</a>
           {% endif %}
         </center>
          
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
</html>





































